In [203]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import swifter
import autotime
%load_ext autotime
df=pd.read_csv("employee_churn_data.csv")
df

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime

,department,promoted,review,projects,salary,tenure,satisfaction,bonus,avg_hrs_month,left
0,operations,0,0.577569,3,low,5.0,0.626759,0,180.866070,no
1,operations,0,0.751900,3,medium,6.0,0.443679,0,182.708149,no
2,support,0,0.722548,3,medium,6.0,0.446823,0,184.416084,no
3,logistics,0,0.675158,4,high,8.0,0.440139,0,188.707545,no
4,sales,0,0.676203,3,high,5.0,0.577607,1,179.821083,no
...,...,...,...,...,...,...,...,...,...,...
9535,operations,0,0.610988,4,medium,8.0,0.543641,0,188.155738,yes
9536,logistics,0,0.746887,3,medium,8.0,0.549048,0,188.176164,yes
9537,operations,0,0.557980,3,low,7.0,0.705425,0,186.531008,yes
9538,IT,0,0.584446,4,medium,8.0,0.607287,1,187.641370,yes
9539,finance,0,0.626373,3,low,7.0,0.706455,1,185.920934,yes

time: 33.4 ms (started: 2023-03-27 03:32:40 +03:00)

In [204]:
df=df.select_dtypes(include=['int64',"float64"])

time: 1.17 ms (started: 2023-03-27 03:32:40 +03:00)

In [205]:
for i in range(6):
    df=df.append(df)

time: 64.9 ms (started: 2023-03-27 03:32:40 +03:00)

In [212]:
df.shape[0]

610560

time: 3.71 ms (started: 2023-03-27 03:33:12 +03:00)

In [206]:
a = df.apply(lambda x: x/2 -1)

time: 115 ms (started: 2023-03-27 03:32:40 +03:00)

In [207]:
b = df.swifter.apply(lambda x: x/2 -1)

time: 165 ms (started: 2023-03-27 03:32:40 +03:00)

In [208]:
def scoring_comment(x):
    if x['bonus'] == 0:
        return x['review'] *2
    else:
        return x['review']
#Trying applying the function using Pandas apply

a = df.apply(scoring_comment, axis =1)

time: 6.84 s (started: 2023-03-27 03:32:40 +03:00)

In [209]:

b = df.swifter.apply(scoring_comment, axis =1)

Pandas Apply:   0%|          | 0/610560 [00:00<?, ?it/s]

time: 9.96 s (started: 2023-03-27 03:32:47 +03:00)

In [210]:
def scoring_comment_vectorized(x):
    return np.where(x['bonus'] ==0, x['review']*2, x['review'])
a = df.apply(scoring_comment_vectorized, axis =1)

time: 12.8 s (started: 2023-03-27 03:32:57 +03:00)

In [211]:
b = df.swifter.apply(scoring_comment_vectorized, axis =1)

time: 34.1 ms (started: 2023-03-27 03:33:10 +03:00)

https://morioh.com/p/26c8b6f1a4a1