In [ ]:
year	month	day	data
2017-01-01	2017	1	1	-1.343786
2017-01-02	2017	1	2	-0.314145
2017-01-03	2017	1	3	0.639521
2017-02-01	2017	2	1	0.355203
2017-02-02	2017	2	2	-0.959005

In [1]:
import pandas as pd 
df = pd.read_clipboard()
df

            year  month  day      data
2017-01-01  2017      1    1 -1.343786
2017-01-02  2017      1    2 -0.314145
2017-01-03  2017      1    3  0.639521
2017-02-01  2017      2    1  0.355203
2017-02-02  2017      2    2 -0.959005