In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame(dict(A=[2,6,np.nan,9,9],
                       B=[2,2,np.nan,5,8], 
                       C=[3,np.nan,np.nan,np.nan,np.nan]))
df

     A    B    C
0  2.0  2.0  3.0
1  6.0  2.0  NaN
2  NaN  NaN  NaN
3  9.0  5.0  NaN
4  9.0  8.0  NaN

In [8]:
df.shape[1]

3

In [6]:
df.dropna(thresh=df.shape[1]*0.8, axis='rows')

     A    B    C
0  2.0  2.0  3.0

In [9]:
df.shape[0]

5

In [7]:
df.dropna(thresh=df.shape[0]*0.8, axis='columns')

     A    B
0  2.0  2.0
1  6.0  2.0
2  NaN  NaN
3  9.0  5.0
4  9.0  8.0