In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(dict(A=[2,6,np.nan,9,9],
                       B=[2,2,np.nan,5,5], 
                       C=[3,2,3,6,np.nan]))
df

     A    B    C
0  2.0  2.0  3.0
1  6.0  2.0  2.0
2  NaN  NaN  3.0
3  9.0  5.0  6.0
4  9.0  5.0  NaN

In [7]:
dfg = df.groupby(["A","B"])
dfg.get_group((9,5))

     A    B    C
3  9.0  5.0  6.0
4  9.0  5.0  NaN

In [8]:
df[(df["A"]==9)&(df["B"]==5)]

     A    B    C
3  9.0  5.0  6.0
4  9.0  5.0  NaN