In [1]:
import pandas as pd
d = {"A":[15, 20], "B":[20, 25], "C":[30 ,40], "D":[50, 60]}
df = pd.DataFrame(d)
df

    A   B   C   D
0  15  20  30  50
1  20  25  40  60

In [2]:
print("The Problem relies on that we don't know the column name")
df.groupby("A")["B"].agg(["mean", "max"])

The Problem relies on that we don't know the column name

    mean  max
A
15  20.0   20
20  25.0   25

In [3]:
print("The Problem relies on that we have multiindex")
df.groupby("A").agg({"B":["mean", "max"]}) # .columns.droplevel()

The Problem relies on that we have multiindex

       B
    mean max
A
15  20.0  20
20  25.0  25

In [4]:
df.groupby("A")["B"].agg(A_mean = "mean", A_max = "max")

    A_mean  A_max
A
15    20.0     20
20    25.0     25