In [2]:
import pandas as pd
# Do some fast feature eng on the DF
d = {"gender":["male", "female", "male"], "color":["red", "green", "blue"], "age":[25, 30, 15]}
df = pd.DataFrame(d)
df

# Solution
map_dict = {"male":"M", "female":"F"}
df["gender_mapped"] = df["gender"].map(map_dict) # using dictionaries to map values

df["color_factorized"] = df["color"].factorize()[0] # using factorize: returns a tuple of arrays (array([0, 1, 2]), Index(['red', 'green', 'blue'], dtype='object')) that's why we select [0]

df["age_compared_boolean"] = df["age"] < 18 # return a True False boolean value

df

   gender  color  age gender_mapped  color_factorized  age_compared_boolean
0    male    red   25             M                 0                 False
1  female  green   30             F                 1                 False
2    male   blue   15             M                 2                  True