In [22]:
import pandas as pd
d = {"A":[15, 20], "B":[20, 25], "C":[30 ,40], "D":[50, 60]}
df = pd.DataFrame(d)
df

    A   B   C   D
0  15  20  30  50
1  20  25  40  60

In [14]:
# Using insert
df.insert(3, "C2", df["C"]*2)
df

    A   B   C  C2   D
0  15  20  30  60  50
1  20  25  40  80  60

In [8]:
col_num = 2
df.iloc[:,[i for i in range(df.shape[1]) if i!=col_num] + [col_num]]

    A   B  C2   D   C
0  15  20  60  50  30
1  20  25  80  60  40

In [9]:
[i for i in range(df.shape[1]) if i!=col_num] + [col_num]

[0, 1, 3, 4, 2]