In [13]:
import pandas as pd 
import numpy as np
import pandas as pd
import numpy as np

data = {'set_of_numbers': [np.nan,6.4,70.2,np.nan,np.nan,8,9,10,np.nan,"-","*"]}
df = pd.DataFrame(data)

df

   set_of_numbers
0             NaN
1             6.4
2            70.2
3             NaN
4             NaN
5               8
6               9
7              10
8             NaN
9               -
10              *

In [14]:
pd.to_numeric(df["set_of_numbers"],errors ='ignore')

0      NaN
1      6.4
2     70.2
3      NaN
4      NaN
5        8
6        9
7       10
8      NaN
9        -
10       *
Name: set_of_numbers, dtype: object

In [15]:
pd.to_numeric(df["set_of_numbers"], errors ='coerce')

0      NaN
1      6.4
2     70.2
3      NaN
4      NaN
5      8.0
6      9.0
7     10.0
8      NaN
9      NaN
10     NaN
Name: set_of_numbers, dtype: float64

In [16]:
df = pd.Series(['10', '12', '15', '20', 'A', '31', 'C', 'D'])
df

0    10
1    12
2    15
3    20
4     A
5    31
6     C
7     D
dtype: object

In [18]:
pd.to_numeric(df, errors='coerce')

0    10.0
1    12.0
2    15.0
3    20.0
4     NaN
5    31.0
6     NaN
7     NaN
dtype: float64