In [1]:
import pandas as pd

d = {"genre": ["A", "A", "A", "A", "A", "B", "B", "C", "D", "E", "F"]}
df = pd.DataFrame(d)
df["genre"].value_counts()


liste = ['A','B']

# Step 2: update the df
df_updated = df.where(df["genre"].isin(liste), other = "Other")
df_updated["genre"].value_counts()

A        5
Other    4
B        2
Name: genre, dtype: int64

In [2]:
df_updated

    genre
0       A
1       A
2       A
3       A
4       A
5       B
6       B
7   Other
8   Other
9   Other
10  Other