In [1]:
import pandas as pd

example.csv

0  |  100,000

1  |  200,000

2  |  300,000

3  |  250,000

If pandas reads

In [2]:
df = pd.read_csv("example.csv", index_col = 0, thousands = ",")

In [3]:
df

        0
0  100000
1  200000
2  300000
3  250000

In [4]:
df.dtypes

0    int64
dtype: object