In [1]:
# listede en sık bulunan değerin bulunması:
winners = ["ela", "ışık",   "ela", "merve", "ışık", "ışık",]
max(set(winners), key=winners.count)

'ışık'

In [3]:
import pandas as pd 
# Write a Pandas program to create DataFrames that contains random values, contains missing values, contains datetime values and contains mixed values.
df1 = pd.util.testing.makeDataFrame()  # contains random values
df2 = pd.util.testing.makeMissingDataframe() # contains missing values
df3 = pd.util.testing.makeTimeDataFrame() # contains datetime values
df4 = pd.util.testing.makeMixedDataFrame() # contains mixed values
# query() dataframe i sorgular:
df4

/Users/onurkoc/opt/anaconda3/lib/python3.9/site-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [7]:
import numpy as np
d = {"colum_without_space":np.array([1, 2, 3, 4, 5, 6]), "column_with_space":np.array([1, 2, 3, 4, 5, 6])*2}
df = pd.DataFrame(d)
#df.query("colum_without_space < 4")
df.query('column_with_space > 8')

   colum_without_space  column_with_space
4                    5                 10
5                    6                 12