In [1]:
import pandas as pd

In [ ]:
	A	B	C	D	E	F	G
0	14	16	14	2	4	11	16
1	9	14	18	18	7	5	16
2	8	18	3	19	13	18	17
3	13	13	12	4	12	1	10
4	2	7	5	2	7	2	10
5	16	5	10	3	13	16	15
6	10	13	17	9	16	12	9
7	9	16	6	19	2	11	13
8	2	3	13	13	7	14	5
9	17	8	10	18	17	8	4
10	19	14	15	1	7	8	19
11	12	16	8	19	4	4	19
12	6	1	4	9	1	5	7
13	13	13	2	12	5	10	4
14	13	5	17	1	14	19	12
15	8	18	5	8	9	15	7
16	2	1	13	12	14	12	13
17	8	6	12	18	18	1	11

In [3]:
df = pd.read_clipboard()

import numpy as np
df = df.T
cols_str = list(map(str, list(df.columns))) # so that we can do df["0"] as string for the example
df.columns = cols_str

# Using pandas concatenation
# if you are ever confused about axis = 1 or axis = 0, just put axis = "columns" or axis = "rows"
pd.concat([df.loc[:, "0":"2"], df.loc[:, "6":"10"], df.loc[:, "16":"17"]], axis = "columns") # ------------------> here we are selecting columns converted to strings

# Using lists
# please ntoe that df.columns is a series with index, so we are using index to filter # -------------------------> here we are selecting the index of columns
df[list(df.columns[0:3]) + list(df.columns[6:11]) + list(df.columns[16:17])]

# Using numpy
df.iloc[:, np.r_[0:3, 6:11, 16:17]] # probably the most beautiful solution

    0   1   2   6   7   8   9  10  16
A  14   9   8  10   9   2  17  19   2
B  16  14  18  13  16   3   8  14   1
C  14  18   3  17   6  13  10  15  13
D   2  18  19   9  19  13  18   1  12
E   4   7  13  16   2   7  17   7  14
F  11   5  18  12  11  14   8   8  12
G  16  16  17   9  13   5   4  19  13

In [4]:
np.r_[0:3, 6:11, 16:17]

array([ 0,  1,  2,  6,  7,  8,  9, 10, 16])