* Parquet, Hadoop ekosistemi için bir proje olarak geliştirilmiş ve Apache Parquet olarak bilinmektedir. Parquet formatı, büyük miktarda veriyi saklamak için optimize edilmiştir ve özellikle sorgulama performansını artırmak için tasarlanmıştır. Parquet dosyaları, verilerin sütun bazında sıkıştırılması sayesinde oldukça küçük boyutlarda saklanabilir. Bu, daha hızlı veri erişimi ve daha az disk alanı kullanımı sağlar.
Parquet formatı, özellikle büyük veri işleme işleri için tercih edilir ve genellikle Hadoop, Apache Spark, Apache Hive, Apache Impala ve Amazon Athena gibi büyük veri araçları tarafından desteklenir.

* Pickle, Python programlama dilinde kullanılan bir veri serileştirme modülüdür. Verileri dosyalarda veya ağ üzerinde iletmek veya depolamak için kullanılır. Pickle, Python nesnelerinin bellekteki durumunu ikili formatta serileştirir ve bunları aynı veya farklı bir Python programında yeniden oluşturmak için kullanılabilir hale getirir. Bu nedenle, veri depolama, veri yedekleme, veri aktarımı ve veri işleme gibi uygulamalarda yaygın olarak kullanılır.

In [4]:
import pandas as pd
import time

# Read data from Github
URL = "https://raw.githubusercontent.com/keitazoumana/Experimentation-Data/main/diabetes.csv"
data = pd.read_csv(URL)

# Create large data for experimentation by repeating each row 20.000 times
exp_data = data.loc[data.index.repeat(20000)]
exp_data_cpy1 = exp_data
"""
EXPERIMENT WITH .CSV FORMAT
"""
# Write Time
start = time.time()
exp_data_cpy1.to_csv("exp_data.csv", index=False)
end = time.time()
print("Write Time:", end-start)

# Read Time
start = time.time()
csv_data = pd.read_csv("exp_data.csv")
end = time.time()
print("Read Time:", end-start)
# File Size
!ls -GFlash exp_data.csv
display(exp_data)

Write Time: 52.33574175834656
Read Time: 11.141971826553345
443M -rw-r--r-- 1 root 443M Mar 24 18:58 exp_data.csv

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
...,...,...,...,...,...,...,...,...,...
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
"""
EXPERIMENT WITH .PARQUET FORMAT
"""
# Write Time
start = time.time()
# convert from csv to parquet
exp_data_cpy1.to_parquet('exp_data.parquet')
end = time.time()
print("Write Time:", end-start)

# Read Time
start = time.time()
parquet_data = pd.read_parquet('exp_data.parquet')
end = time.time()
print("Read Time:", end-start)

# File Size
!ls -GFlash exp_data.parquet  
display(parquet_data)

Write Time: 2.3082573413848877
Read Time: 1.26967453956604
52K -rw-r--r-- 1 root 49K Mar 24 18:58 exp_data.parquet

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
...,...,...,...,...,...,...,...,...,...
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:

"""
EXPERIMENT WITH .PKL FORMAT
"""

exp_data_cpy2 = exp_data 

# Write Time
start = time.time()
# convert from csv to pkl
exp_data_cpy2.to_pickle('exp_data.pkl')
end = time.time()
print("Write Time:", end-start)

# Read Time
start = time.time()
pkl_data = pd.read_pickle('exp_data.pkl')
end = time.time()
print("Read Time:", end-start)
# File Size
!ls -GFlash exp_data.pkl
display(pkl_data)

Write Time: 4.614887237548828
Read Time: 1.176560401916504
1.2G -rw-r--r-- 1 root 1.2G Mar 24 19:03 exp_data.pkl

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
0,6,148,72,35,0,33.6,0.627,50,1
...,...,...,...,...,...,...,...,...,...
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0
767,1,93,70,31,0,30.4,0.315,23,0