In [13]:
import pandas as pd
import numpy as np

d={"colum_without_space":np.array([1,2,3,4,5,6]),"column_with_space":np.array([1,2,3,4,5,6])*2}
df=pd.DataFrame(d)
df

   colum_without_space  column_with_space
0                    1                  2
1                    2                  4
2                    3                  6

In [14]:
df.query("colum_without_space<4")

   colum_without_space  column_with_space
0                    1                  2
1                    2                  4
2                    3                  6
3                    4                  8
4                    5                 10
5                    6                 12

In [15]:
df.query("column_with_space<8")

   colum_without_space  column_with_space
0                    1                  2
1                    2                  4
2                    3                  6